* {
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
  font-size: 10px;
}
body {
  font-family: 'Titillium Web', sans-serif;
  margin-top: 13rem;
  background: hsla(232, 73%, 65%, 1);

  background: linear-gradient(
    135deg,
    hsla(232, 73%, 65%, 1) 0%,
    hsla(336, 63%, 51%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(232, 73%, 65%, 1) 0%,
    hsla(336, 63%, 51%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(232, 73%, 65%, 1) 0%,
    hsla(336, 63%, 51%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6274E7", endColorstr="#D13372", GradientType=1 );
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .title {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2rem;
}
.container .image {
  width: 100%;
  max-width: 8rem;
}

.calc-area {
  background: #ffffff59;
  padding: 2rem;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
#datePicker {
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: 'Titillium Web';
  border: none;
  border-radius: 5px;
  margin-right: 2rem;
}
#datePicker:focus-visible {
  outline: 0;
}

#datePicker::-webkit-calendar-picker-indicator {
  font-size: 2rem;
  margin-left: 80px;
}

.calc-area .calc-button {
  padding: 1.5rem 2rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background: #ffc312;
  cursor: pointer;
}

#result {
  color: #ffffff;
  transition: all ease 1s;
}
#result span {
  color: #ffc312;
}
#result h3 {
  font-size: 2rem;
}

/* Responsive Query  */
@media only screen and (max-width: 480px) {
  html {
    font-size: 7px;
  }

  .calc-area {
    flex-direction: column;
  }

  #datePicker,
  .calc-button {
    width: 100%;
    margin: 5px;
  }
}
